@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Disposable Droid BB;
  src: url("fonts/DisposableDroidBB.ttf") format("truetype");
}

html {
  box-sizing: border-box;
  background-color: gray;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Helvetica Neue, Arial, sans-serif;
}

.animated-text {
  background-image: -webkit-linear-gradient(
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.5) 50%
  );
  background-size: 100% 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: fillText 5.5s ease-in forwards;
  animation: fillText 5.5s ease-in forwards;
}
@keyframes fillText {
  @for $i from 0 to 50 {
    $(i)% {
      background-image: -webkit-linear-gradient(
        rgba(255, 255, 255, 0.5) calc(100-$(i))%,
        rgb(207 255 71) $(i)%
      );
    }
  }
  @for $i from 51 to 100 {
    $(i)% {
      background-image: -webkit-linear-gradient(
        rgba(255, 255, 255, 0.5) calc(100-$(i))%,
        rgb(207 255 71) calc(100-$(i))%
      );
    }
  }
}

:root {
  --cards: 4;
  --cardHeight: 63vh;
  --cardTopPadding: 1.5em;
  --cardMargin: 4vw;
}

.container {
  width: 90%;
  margin: 0 auto;
}

#cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: repeat(var(--cards), var(--cardHeight)); */
  gap: var(--cardMargin);
}

#card1 {
  --index: 1;
}
#card2 {
  --index: 2;
}
#card3 {
  --index: 3;
}
#card4 {
  --index: 4;
}

.card {
  position: sticky;
  top: 147px;
  height: 100vh;
}

#card1 {
  background-color: #52b2cf;
}
#card2 {
  background-color: #e5a36f;
}
#card3 {
  background-color: #9cadce;
}
#card4 {
  background-color: #d4afb9;
}

.card-body {
  box-sizing: border-box;
  box-shadow: 0px -2px 3px rgba(50, 50, 50, 0.2);
  padding: 0 !important;
  transition: all 0.5s;
}

h2 {
  font-size: 2.5em;
}
.original-box-shadow {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  position: relative;
}

.original-box-shadow::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 8px;
  box-shadow: 0 40px 15px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 80px / 4px;
}
.c-site-footer_social_item {
  display: block;
  position: relative;
  transform: translateZ(0);
  transition: color 0.3s cubic-bezier(0.4, 0, 0, 1);
  z-index: 1;
}
.c-site-footer_social_item::before {
  border-radius: 50%;
  bottom: -15px;
  content: "";
  left: -15px;
  position: absolute;
  right: -15px;
  top: -15px;
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0, 1);
  z-index: -1;
}
.c-site-footer_social_item:hover svg {
  fill: yellow;
}
.c-site-footer_social_item svg {
  display: block;
  height: 100%;
  width: 100%;
}
@keyframes anim {
  100% {
    stroke-dashoffset: 0;
  }
}

#pth {
  animation: anim 5s linear forwards 1s;
}

.heading_cursor::after {
  content: "|";
  animation: cursor 1.1s infinite step-start;
}
@keyframes cursor {
  50% {
    opacity: 0;
  }
}

.desc_cursor::after {
  content: "|";
  animation: cursor 1.1s infinite step-start;
}
@keyframes cursor {
  50% {
    opacity: 0;
  }
}
