@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  background-color: gray;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.animated-text {
  background-image: -webkit-linear-gradient(
    rgb(255 255 255 / 0.5) 50%,
    rgb(255 255 255 / 0.5) 50%
  );
  background-size: 100% 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: fillText 5s ease-in forwards;
  animation: fillText 5s ease-in forwards;
}
@keyframes fillText {
  @for $i from 0 to 50 {
    $(i)% {
      background-image: -webkit-linear-gradient(
        rgb(255 255 255 / 0.5) calc(100-$(i))%,
        rgb(207 255 71) $(i)%
      );
    }
  }
  @for $i from 51 to 100 {
    $(i)% {
      background-image: -webkit-linear-gradient(
        rgb(255 255 255 / 0.5) calc(100-$(i))%,
        rgb(207 255 71) calc(100-$(i))%
      );
    }
  }
}
